<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <%- include('navbar') %> <%- include('errors') %> <% if (locals.user) {%>
    <h1>Enter the secret passcode to become an admin!</h1>
    <form action="" method="POST">
      <label for="passcode">Passcode:</label>
      <input
        id="passcode"
        name="passcode"
        placeholder="Passcode"
        type="text"
      />
      <button type="submit">Submit</button>
    </form>
    <% } else { %>
    <p>You must be logged in before you can enroll as an admin</p>
    <% } %>
  </body>
</html>
